.reviewsList {
  list-style-type: square;
  padding: 20px;
}

.reviewsListItem:not(:last-child) {
  margin-bottom: 10px;
}

.author {
  font-weight: 700;
  margin-bottom: 10px;
}

.notFound {
  list-style-type: none;
  text-align: center;
}

.error {
  padding-top: 50px;
  text-align: center;
}
