.form {
  display: flex;
  padding-left: 40px;
  padding-top: 20px;
  margin-bottom: 20px;
}

.input {
  width: 250px;
  height: 20px;
  margin-right: 5px;
  outline: none;
  border: 1px solid grey;
}

.input:focus {
  border: 1px solid orange;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid orange;
  background-color: white;
  color: grey;
  border-radius: 5px;
  cursor: pointer;
  width: 40px;
}

.button:hover {
  color: white;
  background-color: orange;
}

.searchList {
  padding-left: 40px;
  list-style-type: square;
}

.searchItem:not(:last-child) {
  margin-bottom: 2px;
}

.link {
  text-decoration: none;
}
